.comments {
  display: flex;
  flex-direction: column;
}

.comments__header {
  margin-top: 30px;
}

.comment {
  border-bottom: 1px solid teal;
  margin-top: 25px;
}

.comment__email {
  font-weight: bold;
  margin-bottom: 10px;
}


